* {
  margin: 0;
  padding: 0;
}

/* main parts */

html {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.6;
  color: white;
}

body {
  height: 100vh;
  background: url("images/lukasz-szmigiel-jFCViYFYcus-unsplash.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #ff9848;
}

.center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  margin: 0 auto;
}

/* header */

header {
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px 0;
  transition: opacity 1s linear;
  z-index: 2;
}

.logo--image {
  width: 75px;
  margin-right: 5px;
}

.logo--section {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

main section {
  position: relative;
}

.circle {
  width: 60vw;
  height: 60vw;
  background: transparent;
  border: 20px white solid;
  border-radius: 50%;
  position: relative;
  transition: scale 1ms linear;
  transform: scale(1);
}

.circle--inner {
  position: absolute;
  width: 100%; 
  height: 100%;
  background: black;
  z-index: -1;
  border-radius: 50%;
  opacity: 0.5;
}

.timer div {
  text-align: right;
}

.timer div:nth-last-child(1){
  text-align: center;
}

.text {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  font-size: 0.9rem;
  text-align: center;
}

footer {
  font-size: 0.8rem;
  background: blue;
  transition: opacity 1s linear;
}

.footer--center {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

/* effects and form */

input {
  padding: .5em 1em;
  border: none;
  background: #000000AA;
  color: white;
  border-radius: 20px;
  width: 50px;
  text-align: center;
  margin: 5px 0;
}

input[type="checkbox"] {
  display: none;
  position: relative;
}

input[type="checkbox"] label {
  padding: 2em 2em;
}

input[type="checkbox"] + label::after {
  content:"👎";
  margin-left: 15px;
}

input[type="checkbox"]:checked + label::after {
  content: "👍";
}

/* .grow {
  transform: scale(1.35);
} */

.hide-element {
  opacity: 0;
}

@media screen and (min-width: 700px){
  .center {
    width: 80vw;
  }

  .logo--text {
    margin-left: 20px;
  }

  .circle {
      width: 400px;
      height: 400px;
  }

  .text {
      font-size: 1.25rem;
  }
}

@media screen and (max-height: 500px){
  footer {
    display: none;
  }
}

@keyframes grow {
  from { transform: scale(1); }
  to { transform: scale(1.35); }
}

@keyframes shrink {
  from { transform: scale(1.35); }
  to { transform: scale(1); }
}